:root {
  --red: #ff5a5f;
  --orange: #f26b2c;
  --main: #1a2538;
}

.item-panel-container, p {
    font-family: 'open sans', 'sans-serif'!important;
}

.accordion-body {
  position: relative;
  padding: 20px 80px 0 20px;
  font-family:  var(--main-font);
  color: var(--main);
}

.h {
  transition: 0.5s ease-in-out;
}

.headline {
  text-align: left;
  margin-bottom: 25px;
}

.headline h2 {
  line-height: 1.2;
  margin: 10px 0;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #1a2538;
  width: 80vw;
  position: relative;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.heading-span {
  font-size: 23px;
}

.heading-arrow {
  color: #3a86ff;
  font-size: 12px;
  font-weight: 900;
}

.heading-arrow:hover, .active {
  color: var(--orange);
}

.heading[aria-expanded='true'] .heading-arrow {
  transform: rotate(180deg);
  transition: transform 500ms ease;
  color: var(--orange);
}

.heading[aria-expanded='false'] .heading-arrow {
  transition: transform 500ms ease;
}

.paragraph-text {
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 14px;
}

.item-text {
  width: 100%;
}

.cta {
  display: block;
  margin-top: 25px;
}

.cta1 {
  background: #f26b2c;
  border: 2px solid #f26b2c;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 15px;
  margin-right: 0;

}

.cta2 {
  background: #fff;
  border: 2px solid #2b5b92;
  border-radius: 4px;
  color: #1a2538;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  padding: 8px;
  width: 100%;
}

.cta2:hover {
  color: white;
  background: #3a86ff;
  transition: background 350ms ease;
}

.learn-more {
  padding-top: 25px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  font-weight: 700;
  color: var(--main);
}

.circle-arrow {
  color: var(--orange);
  width: 25px;
  height: 24px;
  margin-left: 10px;
}

.accordion-img {
  position: absolute;
  left: 100%;
  transition: top 1s ease-in-out; 
  /* top: 100% !important; */
}

.img {
  display: none;
}

#img1 {
  top: 0;
}

#img2 {
  top: 0;
}

#img3 {
  top: 0;
}

#img4 {
  top: 0;
}

@media only screen and (min-width: 1024px) {
  .accordion-body {
    padding: 100px 80px 0 80px;
  }

  .headline {
    text-align: center;
  }

  .accordion-item {
    width: 35vw;
    margin-left: 50px;
  }

  .img {
    display: unset;
  }

  .paragraph-text {
    font-size: 16px;
  }

  .cta {
    display: flex;
  }

  .cta1 {
    padding: 14px;
    font-size: 16px;
    margin-right: 30px;
  }

  .cta2 {
    font-size: 16px;
    padding: 14px;
  }

  .learn-more {
    width: 100%;
  }

  .accordion-img {
    left: 106%;
  }

  #img1 {
    top: 25%;
  }

  #img2 {
    top: -10%;
  }

  #img3 {
    top: -55%;
  }

  #img4 {
    top: -70%;
  }
}
