* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
}

p, h1 {
    font-family: sans-serif, Arial;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}